body{
    background-image: url(images/1_wgbmuDgBQ6N-kOrbD-qMFA.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.curlybrackets{
    color:darkorchid;
}

.lowerContainer{

}
.column{

}
.columnTitle{

}
.columnDescription{
    
}