body{
    background-image: url(images/1_wgbmuDgBQ6N-kOrbD-qMFA.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 80%;
    margin-top: -2%;
    margin-left: 10%;
    background-color: rgba(65, 52, 59, 0.18); /*This is to help with the contrasting colors of the background-image. */
}
.curlybrackets{
    color:darkorchid;
}
h1, h2, h3{
    /* color: white; */ /* Because of the different background-image, I'm not going to do an exact color match up. */
    color:deepskyblue;
}
h1{
    font-size:5rem;
    /* I wish also for a greater font-width, but sadly the browser interprets that, and I don't want it breaking the site on whatever browser is used to grade this. */
}
h2, h3{
    font-size:3rem;
}

main{
    margin-top: 5%;
}
.container{
    margin-top: 5%;
    background-color: rgba(65, 52, 59, 0.18)
}
.row, .col{
    color:deepskyblue;
    font-size: large;
}
img{
    width: 50px;
}

nav{
    margin-top: 8%;
}
.nav-link{
    color: deepskyblue;
}